@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import '/css/lightbox.css';

.title{
    list-style:none;
    margin:0;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align:center;
    font-size: 60px;
    font-family: 'Noto Serif JP', serif;
}

.text{
    list-style:none;
    margin:0;
    text-align: left;
    display:inline-block;
    padding-top: 5vh;
    width: 35vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1080px) {
  .text{
    list-style:none;
    margin:0;
    text-align: left;
    display:inline-block;
    padding-top: 5vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
}

h1{
   font-size: 18px; 
   font-family: 'Noto Serif JP', serif;
   
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size:18px;
}
.nav li{
    display:inline;
    font-family: 'Noto Serif JP', serif;
}
.nav a{
    display:inline-block;
    padding-left:1vw;
    padding-right:1vw;
    padding-top: 2vh;
}

/*Number Fonts and Links */
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: none;
  color:            black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: none;
  color:            black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;
  background-color: none;
  color:            black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: none;
  color: black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  }  

footer{
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 50px;
    padding: 100px;
}



